#drop_file_zone {
    border: 1px dashed rgb(17, 17, 17);
    border-radius: 20px;
    width: 50%;
    padding: 100px;
    margin: 50px;
}

#drag_upload_file {
    width: 50%;
    margin: 0 auto;
}

#drag_upload_file p {
    text-align: center;
}

#drag_upload_file #selectfile {
    display: none;
}